.a11y-dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    
    // visuall hides content while allowing it to be accessible to screen readers
    .sr-only {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    // much of this uses classnames from WordPress wp_nav functions
    // customize as necessary
    .menu-item {
        position: relative;
        display: inline-block;

        a {
            display: block;
            padding: 1em;
            color: blue;

            &:hover,
            &:focus,
            &.is-hover-focus {
                border-color: darkBlue;
                background: white;
                color: blue;
            }
        }

        .sub-menu {
            position: absolute;
            width: 10em;
            margin: 0;
            padding: 0;
            border-width: 1px;
            border-style: solid;
            border-color: darkBlue;
            background: white;
            list-style: none;
            z-index: 10;

            .menu-item {

                a {
                    display: block;
                    border: 0;
                    padding: 1em;
                    color: blue;

                    ul,
                    ol {
                        display: none;
                    }

                    &:hover,
                    &:focus {
                        color: blue;
                        text-decoration: underline;
                    }
                }

                .children,
                .sub-menu {
                    display: none;
                }
            }
        }

        &.is-expanded {

            a {
                border: 0;
                color: blue;

                &:hover,
                &:focus {
                    border: 0;
                }
            }

            .children,
            .sub-menu {
                left: -1px;
                width: 10em;
                border: 1px solid darkBlue;
                border-width: 1px;
                padding: 0;
                list-style: none;
                background: white;
                z-index: 10;

                .children,
                .sub-menu {
                    display: none;
                }
            }
        }
    }
}
